#omeka-map-form {
    width: 100%;
    height: 300px;
}
button#geolocation_find_location_by_address {
    float: none;
}

div#geolocation {
    clear: both;
}

#geolocation .element-invisible,
#geolocation-browse .element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
    height: 1px;
}

.info-panel .map {
    margin-top:-18px;
    display:block;
    margin-left:-18px;
    margin-bottom:0;
    border-top:3px solid #eae9db;
    padding:0;
}

.geolocation_balloon {
    width: 200px;
}
.geolocation_balloon img {
    max-width: 100%;
}
.geolocation_balloon_title {
    font-weight:bold;
    font-size:18px;
    margin-bottom:0px;
}
